/* my custom CSS */

.btn-checkbox {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.btn-checkbox input[type="checkbox"] {
    display: none;
}

.btn-checkbox.active {
    background-color: #007bff;
    color: #fff;
}

.btn-checkbox input[type="checkbox"]:checked + label {
    background-color: #007bff;
    color: #fff;
}

#image-preview {
    max-width: 50%;
    max-height: 100%;
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the container takes full height */
}

#image-preview img {
    border: 1px solid #ccc; /* Optional: Add border for better visualization */

    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Adjust image size without stretching */
}

.help-block {
    color: rgba(206, 39, 39, 0.76);
}

ul.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a,
ul.pagination li span {
    color: #337ab7;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin-left: -1px;
    cursor: pointer;
}

ul.pagination li.active a,
ul.pagination li.active span {
    background-color: #337ab7;
    color: white;
    border-color: #337ab7;
}

ul.pagination li a:hover:not(.active),
ul.pagination li span:hover {
    background-color: #f5f5f5;
}

ul.pagination li.prev,
ul.pagination li.next {
    margin: 0;
}

ul.pagination li.prev span,
ul.pagination li.next span {
    padding: 8px 10px;
    cursor: default;
    color: #ccc;
    border-color: #ccc;
}

ul.pagination li.prev span:hover,
ul.pagination li.next span:hover {
    background-color: transparent;
}

.backgroundError-div {
    margin-top: 20px;
    background-image: url('/img/404error.png'); /* Путь к вашему изображению */
    background-size: 230px auto;
    background-repeat: repeat-x; /* Повторять изображение только по оси x */
    width: 100%; /* Ширина вашего div */
    height: 300px; /* Высота вашего div */
    animation: scrollBackground 10s linear infinite; /* Анимация для движения */
}

@keyframes scrollBackground {
    from {
        background-position: 0   0;
    }
    to {
        background-position: 100% 0;
    }
}

.site-error {
    text-align: center;
    margin: 50px;
}

.site-error h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.site-error .btn {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.site-error .btn:hover {
    background-color: #0056b3;
}